{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "amd": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "react/wrap-multilines": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-undef": 2
  }
}

