[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  log = log --stat
  server = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git

[color]
  ui = true
[user]
	name = yuanwen
	email = wenshin2011@gmail.com
[core]
  editor = "vim"
